.article {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 30px;

	&:last-child {
		border-bottom: none;
	}
}

.postTitle {

	margin-bottom: 5px;

	a {
		color: darkslategray;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.publishedOn {
	font-size: 12px;
	margin-bottom: 20px;
	display: block;
	font-style: italic;
}
